body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #28292c;
  text-align: center;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #1cd2ff;
}
canvas {
  display: block;
}
